:root {
  /* Fonts */

  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Text colors */
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --secondary-text-color: #757575;
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --grey-text-color: #757575;
  --rgba-text-color: rgba(255, 255, 255, 0.6);
  /* Background colors */
  --accent-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --border-color: #ececec;
  --button-active: #188ce8;
  --icon-color: #afb1b8;
  --footer-bc-icon-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--accent-background-color);
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding: 94px 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.header {
  border-bottom: 1px solid var(--border-color);
}
/*Main-nav*/
.main-nav {
  display: flex;
  align-items: center;
}
.nav-link {
  display: flex;
  align-items: center;
}

/*Site-nav*/

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.studio-line {
  position: relative;
}

.studio-line::after {
content: "";
left: 0;
bottom: 0;
position: absolute;
display: block;
width: 100%;
height: 4px;
background-color: var(--accent-text-color);
border-radius: 2px;
}

/*Auth-nav*/
.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  text-align: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.svg-header {
  text-align: center;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.header .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  align-items: center;
}
.header .link:hover,
.header .link:focus {
  color: var(--accent-text-color);
}
.header .link.current {
  color: var(--accent-text-color);
}
.item .tel {
  color: var(--secondary-text-color);
  font-weight: 500;
}
.tel:hover,
.tel:focus {
  color: var(--accent-text-color);
}

.header .mail {
  color: var(--secondary-text-color);
}

/* Logo */

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--black-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo .ingredient {
  color: #2196f3;
}
/* Rest */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}

/* Main */

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding: 200px 0;
  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Background\(1\).jpg);
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
.button {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
}

.button:hover,
.button:focus {
  background-color: var(--button-active);
}

/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 521px;
  background-color: var(--accent-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 6px;
  background-color: var(--accent-background-color);
}

/* Main */
.section .title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Features--> */
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .feature-text {
  line-height: calc(24 / 14);
  color: var(--grey-text-color);
}

.feature-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--grey-background-color);
}

.feature-list {
  display: flex;
}

.feature-list .feature-item + .feature-item {
  margin-left: 30px;
}

/* Чим ми займаємося */
.section-title-list {
  gap: 30px;
}

.work-item {
  position: relative;

}

.overlay {
position: absolute;
right: 0;
bottom: 0;
width: 100%;
height: 70px;
background-color: rgba(47, 48, 58, 0.8);
text-align: center;
padding-top: 27px;

}

.overlay-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-text-color);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.container-top {
  padding-top: 0;
}

.section-title-list {
  display: flex;
}

/* team */

.team {
  display: flex;
  gap: 30px;
}

/* Socials */
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--accent-background-color);
  color: var(--icon-color);
  border-radius: 50%;
}

.socials-icon {
  fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--accent-background-color);
  background-color: var(--button-active);
}

.section-title-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team .title-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.our-team {
  background: var(--grey-background-color);
}

.team-item {
  background-color: var(--accent-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* Clients */

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.svg-logo {
  fill: currentColor;
}

.clients-list .client-item + .client-item {
  margin-left: 30px;
}

/* Footer */
.footer .footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.footer-logo .ingredient {
  color: var(--accent-text-color);
}

footer {
  padding: 60px 0;
  background-color: var(--dark-background-color);
}
.footer-item {
  margin-bottom: 9px;
}
.footer-mail {
  margin-bottom: 0;
}

.address {
  font-style: normal;
}

.address .link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--rgba-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-text-color);
}

.footer .footer-address {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-text {
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-socials {
  margin-left: 70px;
}

.footer-socials-icon {
  fill: var(--white-text-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--button-active);
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-bc-icon-color);
  color: var(--icon-color);
  border-radius: 50%;
}

/* Оформлення стилів для Portfolio*/

/*Line*/
.portfolio-line {
  position: relative;

}

.portfolio-line::after {
content: "";
left: 0;
bottom: 0;
position: absolute;
display: block;
width: 100%;
height: 4px;
background-color: var(--accent-text-color);
border-radius: 2px;
}

/* Buttons */


.section-portfolio .button {
  display: block;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--grey-background-color);
}

.section-portfolio .list {
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}


.portfolio-content{
position: absolute;
top: 0;
left: 0;
transform: translateY(100%);
width: 100%;
height: 100%;
background-color: rgba(33, 150, 243, 0.9);
}

.list-item-images:hover .portfolio-content {
  transform: translateY(0);
}

.portfolio-text {
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
padding: 64px 24px;
color: var(--white-text-color);
}

.first-button {
  min-width: 23px;
  min-height: 26px;
  padding: 6px 25px;
}
.secondary-button {
  min-width: 81px;
  min-height: 26px;
  padding: 6px 22px;
}
.third-button {
  min-width: 68px;
  min-height: 26px;
  padding: 6px 22px;
}
.fourth-button {
  min-width: 59px;
  min-height: 26px;
  padding: 6px 22px;
}
.fifth-button {
  min-width: 86px;
  min-height: 26px;
  padding: 6px 26px;
}

.section-portfolio .button:hover,
.section-portfolio .button:focus {
  color: var(--white-text-color);
  background: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.title-border {
  border: 1px solid var(--border-color);
  padding: 20px 24px;
  border-top: none;
}

.section-portfolio .title-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.section-portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}

.list-images {
  display: flex;
  flex-wrap: wrap;
}

.link-images {
  display: block;
}

.link-images:hover,
.link-images:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-item-images {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-item-images:nth-child(3n) {
  margin-right: 0;
}

.list-item-images:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
